asgiref==3.3.4
beautifulsoup4==4.9.3
cffi==1.14.5
cryptography==3.4.7
dj-database-url==0.5.0
Django==3.2.2
django-bootstrap3==15.0.0
django-bootstrap4==3.0.1
django-fernet-fields==0.6
django-heroku==0.3.1
django-utils-six==2.0
gunicorn==20.1.0
instance==0.0.0.0.0.0a0.dev20210120
psycopg2==2.8.6
pycparser==2.20
pytz==2021.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tqdm==4.60.0
whitenoise==5.2.0
